extends:
  - eslint-config-airbnb
  - plugin:flowtype/recommended
env:
  browser: true
  node: true
  mocha: true
rules:
  react/forbid-prop-types: 0
  react/jsx-filename-extension:
    - 1
    - extensions:
      - '.js'
      - '.jsx'
  new-cap:
    - 2
    - capIsNewExceptions:
      - List
      - Map
      - Set
  global-require: 0
  react/no-multi-comp: 1
  import/default: 1
  import/no-duplicates: 1
  import/named: 1
  import/namespace: 1
  import/no-unresolved: 1
  import/no-named-as-default: 2
  comma-dangle: 1 # not sure why airbnb turned this on. gross!
  max-len: 1
  react/prefer-stateless-function: 0
  indent:
    - 1
    - 2
    - SwitchCase:
        1
  no-console: 1
  no-alert: 1
  semi:
    - 1
    - 'never'
  no-var: 1
  prefer-const: 1
  object-curly-spacing: 1
  no-shadow: 1
  arrow-parens: 1
  comma-spacing: 1
  import/prefer-default-export: 0
  curly: 1
  space-before-function-paren: 1
  no-unused-vars: 1
  spaced-comment: 1
  no-plusplus: 1
  no-underscore-dangle: 1
  flowtype/space-after-type-colon: 1
  react/jsx-closing-bracket-location: 1
  react/sort-comp: 1
  import/extensions: 1
  react/prop-types: 1
  class-methods-use-this: 1
  no-param-reassign: 1
  vars-on-top: 1
  import/no-extraneous-dependencies: 1
  react/jsx-no-bind: 1
  react/jsx-first-prop-new-line: 1
  arrow-body-style: 1
  semi-spacing: 1
  no-extra-boolean-cast: 1
  object-shorthand: 1
  react/jsx-indent: 1
  flowtype/boolean-style: 1
plugins:
  - react
  - import
  - flowtype
settings:
  import/parser: babel-eslint
  import/resolve:
    moduleDirectory:
      - node_modules
      - src
globals:
  DEVELOPMENT: true
  CLIENT: true
  SERVER: true
  DISABLE_SSR: true
  socket: true
  webpackIsomorphicTools: true
flowtype:
  onlyFilesWithFlowAnnotation: false
